.home {
  background-image: url("images/Group12.png");

  background-size: cover;
  height: 400px;
  background-repeat: no-repeat;
  position: relative;
  background-position: center center;
}

.web {
  background-image: url("images/dev.png");

  background-size: cover;
  height: 400px;
  background-repeat: no-repeat;
  position: relative;
  background-position: center center;
}

.mobile {
  background-image: url("images/mobilet.jpg");
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
  position: relative;
  background-position: center center;
}
.product {
  background-image: url("images/prod.jpg");
  background-size: cover;
  height: 400px;
  background-repeat: no-repeat;
  position: relative;
  background-position: center center;
}

.exunov {
  background-image: url("images/Exunov.png");
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 30px;
  left: 0px;
  overflow: hidden;
}

.contact {
  background-image: url("images/contact.jpg");
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 30px;
  left: 0px;
  overflow: hidden;
}

.user {
  background-image: url("images/managementusers.jpg");
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 30px;
  left: 0px;
  overflow: hidden;
}
.p {
  size: 12px;
}

.h {
  size: 24px;
}
.quote {
  background-image: url("images/Group9.png");
}
