.img {
  background-image: url("images/imgcloud.png");
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 30px;
  left: 0px;
  overflow: hidden;
}

.new {
  background-image: url("images/web.png");
  background-color: black;
  width: 100%;
  height: 320px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 30px;
  left: 0px;
  overflow: hidden;
}
.foot1 {
}
.foot2 {
  background-color: #f6ad35;
  height: 65px;
  width: 100%;
  background-size: cover;
  position: relative;
  top: 20px;
  left: 0px;
  overflow: hidden;
}
.head {
  background-image: url("images/grp.png");
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 10px;
  left: 0px;
  overflow: hidden;
}
.head1 {
  background-image: url("images/grp.png");
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 30px;
  left: 0px;
  overflow: hidden;
}

.menu {
  background-color: #8a4405;

  background-size: cover;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.menu1 {
  background-color: #8a4405;
  height: 100px;
  text-align: center;
  background-size: cover;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.bas {
  background-color: #8a4405;

  background-size: cover;
  position: relative;
  top: 30px;
  left: 0px;
  overflow: hidden;
}
.bas1 {
  background-image: url("images/web.png");
  background-color: black;
  width: 100%;
  height: 260px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 30px;
  left: 0px;
  overflow: hidden;
}
.bas2 {
  background-image: url("images/web.png");

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.image {
  background-image: url("images/Homepage.jpg");
  width: 100%;
  height: 280px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;

  overflow: hidden;
}

/* Navigation bar styling */

/* Logo, navigation menu styling */
.geeks {
  overflow: hidden;
  background-color: #8a4405;
}

/* styling navigation menu */

/* Link specific styling */
.geeks a {
  text-decoration: none;
  color: white;
  padding: 20px 20px;

  display: block;
}

/* hover effect on navigation logo and menu */
.geeks a:hover {
  background-color: white;
  border-style: solid;

  color: #121213;
}
.active {
  background-color: #f6ad35;
}
